UnitTests/UnitTests/Service References/SendAlertWebService/SendAlert2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StubAlerts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StubAlerts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14148/SendAlert.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Receivers" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alert" nillable="true" type="tns:Alert" />
</xs:schema>