UnitTests/UnitTests/Service References/SendAlertWebService/SendAlert1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14148/SendAlert.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StubAlerts" />
  <xs:element name="SendAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StubAlerts" minOccurs="0" name="alert" nillable="true" type="q1:Alert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAlertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>